*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Staatliches', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: visible;
    width: 100%;
    height: 100vh;
}

.section{
    width: 100%;
}

.section1{
    width: 85%;
    margin: 20px auto;
}

.title{
    width: 60%;
    text-align: center;
    margin: auto;
}

.title h1{
    font-size: 22px;
    font-weight: bold;
    color: #18ddd3;
    text-transform: uppercase;
}

.title p{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    visibility: visible;
    margin-top: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 50px auto;
}

.card{
    width: 100%;
    background: rgba(223, 220, 220, 0.723);
}

.card img{
    width: 100%;
    height: 180px;
}

.article{
    padding: 15px 20px;
}

.article h3{
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    visibility: visible;
}

.article p{
    font-size: 13px;
    color: #282727;
    margin: 10px 0px;
}

.readmore a{
    text-decoration: none;
    display: inline-block;
    background: #20b2abd1;
    padding: 8px 25px;
    margin-left: 20px;
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
}


.posteddate p{
    font-size: 13px;
    top: 0px;
    left: 0px;
    display: inline-block;
    background: #20b2abd1;
    color: white;
    padding: 6px 15px;
}

.readmore a:hover{
    text-decoration: none;
    display: inline-block;
    background: #000000a2;
    color: white;
    margin-bottom: 10px;
    font-size: 15.2px;
    padding: 8px 25px;
    margin-left: 20px;
}

button{
    background: #20b2abd1;
    color: #ffffff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 15px;
    margin-top: 10px;
    transition: .4s;
    font-size: 13px;
    margin-left: 5px;
}

button:hover{
    background: #000000;
    font-size: 13.2px;
}

footer{
    background-color: darkgray;
    width: 100%;
    height: 250px;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    color: #20b2abd1;
}

footer p{
    background-color: #20b2abd1;
    width: 20%;
    height: 40px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    color: white;
}

.here{
    background-color: #3f4342d1;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    color: white;
}